.login {
	display: grid;
	place-items: center;
	height: 100vh;
}

.login > div > img {
	object-fit: contain;
	height: 150px;
}

.login > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login > div > h2 {
	width: 300px;
	background-color: #3c5a9a;
	color: #eff2f5;
	font-weight: 800;
	text-align: center;
}

.login > div > h3 {
	color: #3c5a9a;
	font-weight: 800;
	text-align: center;
}

.login > button {
	width: 300px;
	background-color: #3c5a9a;
	color: #eff2f5;
	font-weight: 800;
}

.login > button:hover {
	color: #3c5a9a;
	background-color: #eff2f5;
}
